* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, main {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-size: 15px;
  background-image: linear-gradient(180deg, #171717 0, #08060c 50%, #000000 100%);
  color: #E6E5EA;
  height: 100vh;
  width: 100vw; }

h1 {
  font-size: 19px;
  color: #7E7C8C;
  text-align: center; }

.bloque_principal {
  height: min-content;
  width: 355px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container_contra_generada {
  background-color: #24232B;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  margin-top: 20px;
  margin-bottom: 15px; }

.contra_generada {
  color: #E6E5EA;
  font-size: 22px;
  font-weight: 700; }

.icono_copy {
  background-color: #24232B;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  .icono_copy .bx-copy-alt {
    color: #A6FFAD;
    font-size: 20px; }

.container_opciones {
  background-color: #24232B;
  height: min-content;
  padding: 17px;
  margin-bottom: 40px; }

.encabezado_rango {
  color: #E6E5EA;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .encabezado_rango p {
    color: #A6FFAD;
    font-size: 21px; }

.lista_seguridad {
  line-height: 35px;
  list-style: none;
  color: #E6E5EA; }

.colorverde input:checked ~ .checkmark {
  background-color: #A6FFAD; }

.container_generar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .container_generar :hover {
    color: #A6FFAD;
    background-color: #24232B;
    border: 3px solid #A6FFAD; }
    .container_generar :hover .bx-right-arrow-alt {
      border: none; }

.bx-right-arrow-alt {
  position: absolute;
  top: 50%;
  margin-left: 10px; }

.boton_generar {
  color: #0E0D13;
  background-color: #A6FFAD;
  border: none;
  font-size: 12px;
  font-weight: 800;
  height: 45px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px; }

.container_fortaleza {
  background-color: #18171F;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  margin-top: 15px; }
  .container_fortaleza .titulo_fuerza {
    color: #54525B;
    font-size: 15px;
    font-weight: 700; }

.seccion_rangos_niv {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .seccion_rangos_niv .nivel_fortaleza {
    color: #E6E5EA;
    font-size: 17px;
    font-weight: 700; }

.bloq_niveles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 0px;
  margin-left: 15px; }

.barra_n_1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #18171F;
  border: #E6E5EA 1.5px solid;
  height: 25px;
  width: 10px; }

.barra_n_2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #18171F;
  border: #E6E5EA 1.5px solid;
  height: 25px;
  width: 10px; }

.barra_n_3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #18171F;
  border: #E6E5EA 1.5px solid;
  height: 25px;
  width: 10px; }

.barra_n_4 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #18171F;
  border: #E6E5EA 1.5px solid;
  height: 25px;
  width: 10px; }

.activado {
  background-color: #F9CF66;
  border: none; }

.contra_generada {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 100%;
  resize: none; }

.contra_generada:focus {
  outline: none;
  border: none; }

.contacto {
  color: #E6E5EA;
  font-size: 12px;
  font-weight: 700;
  text-align: center; }
  .contacto a {
    color: #A6FFAD;
    text-decoration: none; }
  .contacto a:hover {
    color: #54525B; }
  .contacto .container_redes {
    margin-top: 10px;
    margin-bottom: 20px; }

.inputDiv {
  margin-top: 20px;
  margin-bottom: 20px; }

.barra_rango {
  background-color: transparent;
  display: block;
  width: 100%; }

.barra_rango:focus {
  outline: none; }

.barra_rango,
.barra_rango::-webkit-slider-runnable-track,
.barra_rango::-webkit-slider-thumb {
  -webkit-appearance: none; }

.barra_rango::-webkit-slider-thumb {
  background-color: #E6E5EA;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -8px;
  cursor: pointer; }

.barra_rango::-webkit-slider-thumb:hover {
  background-color: #0E0D13;
  border: 2px solid #A6FFAD; }

.barra_rango::-webkit-slider-runnable-track {
  background-color: #0E0D13;
  height: 5px;
  -webkit-appearance: none;
  background-image: linear-gradient(to right, #A6FFAD calc(var(--value)*8.333%), #0E0D13 0); }

.barra_rango::-moz-range-thumb {
  background-color: #E6E5EA;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -8px;
  cursor: pointer; }

.barra_rango::-moz-range-thumb:hover {
  background-color: #0E0D13;
  border: 2px solid #A6FFAD; }

.barra_rango::-moz-range-track {
  height: 5px;
  background-color: #0E0D13;
  -webkit-appearance: none;
  background-image: linear-gradient(to right, #A6FFAD calc(var(--value)*8.333%), #0E0D13 0); }

.barra_rango::-ms-track {
  height: 5px; }

.barra_rango::-ms-fill-upper {
  background-color: #0E0D13; }

.barra_rango::-ms-fill-lower {
  background-color: #A6FFAD; }
